<div class="home-container">
    <h1>Quiz Application</h1>
    <button mat-raised-button color="primary" (click)="startQuiz()">Start Quiz</button>
    <button mat-raised-button color="warn" (click)="resetAverages()">Reset Averages</button>
    <button mat-raised-button color="warn" (click)="clearCachedQuestions()">Clear Cached Questions</button>

    <div style="padding-top: 8px;">
        <button mat-raised-button color="primary" (click)="selectAllAreas()">Select All</button>
        <button mat-raised-button color="primary" (click)="selectNoAreas()">Deselect All</button>
        <mat-form-field>
            <mat-label>Quiz Areas</mat-label>
            <mat-select [formControl]="selectedAreas" multiple>
              @for (area of areas; track area) {
                <mat-option [value]="area">{{area}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
    </div>

    <div>
        <div>Total Questions: {{ questionCount }}</div>
        <div>Viewed: {{ viewedCount }} ({{ viewedRatio * 100 | number:'1.2-2'}}%)</div>
        <div>Incorrect: {{ incorrectCount }} ({{ incorrectRatio * 100 | number:'1.2-2'}}%)</div>
    </div>
    
    <h2>Average Scores by Area</h2>
    <table mat-table [dataSource]="averageScoresArray" class="mat-elevation-z8">
      <!-- Area Column -->
      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef> Area </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click)="startQuizForArea(element.key)">{{element.key}}</button> </td>
      </ng-container>
  
      <!-- Average Score Column -->
      <ng-container matColumnDef="average">
        <th mat-header-cell *matHeaderCellDef> Average Score </th>
        <td mat-cell *matCellDef="let element"> {{element.value | number:'1.2-2'}} </td>
      </ng-container>

      <!-- Total Questions Column -->
        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> Total Questions </th>
            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  